a{
	color: #000;
}

.header{
	padding: 10px;
	background: #333;
	color: #fff;
}

.content{
	padding: 10px;
}

ul{
	line-height: 1.5em;
}

.page#index{
	background: #f2f2f2;
}

.page#page_2{
	background: #ccc;
}